/* product.css */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* border: 1px solid #161616; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f5f5f5;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
    color: #1679AB;
}

.product-price {
    font-size: 16px;
    color: #888;
}

.product-description {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
}

.product-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #394756;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-button:hover {
    background-color: #0056b3;
}
.rating {
    font-size: 14px;
    color: #e6d81e;
    margin: 5px;
    display: flex;
    align-items: center;
}
.rating-text{
    margin-left: 2rem;
    font-size: 12px;
    color: #888;
}
.product-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* responsive */
